@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --color-main: #E0F4FF;
    --color-secondary: #87C4FF;
    --color-tertiary: #39A7FF;
    --color-hover: #FFEED9;

    --padding-sections: 3% 10%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--color-main);
}

.header {
    background-color: var(--color-secondary);
    padding: 30px 15%;
}

.header__menu {
    display: flex;
    gap: 30px;
}

.header__menu__item {
    text-decoration: none;
    color: var(--color-main);
    font-size: 1.12rem;
    font-weight: 700;
}

.surprise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-sections);
    gap: 9%;
}

.surprise__title {
    color: var(--color-secondary);
    font-size: 2.37rem;
    text-align: center;
}

.surprise__image {
    width: 350px;
}

.letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-sections);
    gap: 45px;
}

.letter__title {
    color: var(--color-secondary);
    font-size: 1.87rem;
}

.letter__text {
    color: var(--color-secondary);
    font-weight: 300;
    text-align: justify;
    font-size: 1.06rem;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-sections);
    gap: 45px;
}

.photos__title {
    color: var(--color-secondary);
    font-size: 1.87rem;
}

.photos__container {
    display: flex;
    flex-wrap: wrap;
    padding: 8%;
}

.photos__container__photo {
    width: 33.3%;
}

.footer {
    background-color: var(--color-secondary);
    padding: 30px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer__text {
    color: var(--color-main);
}

@media (max-width: 1020px) {

    .surprise {
        flex-direction: column;
        gap: 20px;
    }
    
    .photos__container__photo {
        width: 50%;
    }

}

@media (max-width: 764px) {
    
    .header__menu {
        justify-content: center;
    }

    .surprise__title {
        font-size: 2rem;
    }

    .surprise__image {
        width: 60%;
    }

    .letter__title,
    .photos__title {
        font-size: 1.60rem;
    }

    .photos__container {
        flex-direction: column;
        align-items: center;
    }
    
    .photos__container__photo {
        width: 100%;
    }

}